<Roblox.Configuration.Properties.EnvironmentSettings>
  <setting name="EnvironmentAbbreviation" serializeAs="String">
    <value>RW</value>
  </setting>
  <setting name="EnvironmentName" serializeAs="String">
    <value>Roblox.Website</value>
  </setting>
  <setting name="EnvironmentId" serializeAs="String">
    <value>1</value>
  </setting>
  <setting name="EnvironmentApiKey" serializeAs="String">
    <value>e5a2a989-92f8-431e-abe6-bf318b837163</value>
  </setting>
  <setting name="ApplicationDomain" serializeAs="String">
    <value>roblox.com</value>
  </setting>
  <setting name="InternalServicesProtocol" serializeAs="String">
    <value>https</value>
  </setting>
  <setting name="CdnDomain" serializeAs="String">
    <value>rbxcdn.com</value>
  </setting>
  <setting name="ChatApiPrefix" serializeAs="String">
    <value>chat</value>
  </setting>
  <setting name="LocaleApiPrefix" serializeAs="String">
    <value>locale</value>
  </setting>
  <setting name="FriendsAppSitePrefix" serializeAs="String">
    <value>friendsite</value>
  </setting>
  <setting name="TranslationsApiSitePrefix" serializeAs="String">
    <value>translations</value>
  </setting>
  <setting name="AbTestingApiPrefix" serializeAs="String">
    <value>abtesting</value>
  </setting>
  <setting name="AuthAppSitePrefix" serializeAs="String">
    <value>authsite</value>
  </setting>
  <setting name="GameInternationalizationApiSitePrefix" serializeAs="String">
    <value>gameinternationalization</value>
  </setting>
  <setting name="InternalServicesDomain" serializeAs="String">
    <value>service.simulprod.com</value>
  </setting>
  <setting name="ChinaBaseDomain" serializeAs="String">
    <value>roblox.qq.com</value>
  </setting>
  <setting name="TranslationRolesApiSitePrefix" serializeAs="String">
    <value>translationroles</value>
  </setting>
  <setting name="MetricsApiSiteSubdomain" serializeAs="String">
    <value>metrics</value>
  </setting>
  <setting name="ContactsApiSitePrefix" serializeAs="String">
    <value>contacts</value>
  </setting>
  <setting name="MidasApiPrefix" serializeAs="String">
    <value>midas</value>
  </setting>
  <setting name="DiscussionsApiPrefix" serializeAs="String">
    <value>discussions</value>
  </setting>
  <setting name="ChinaCdnDomain" serializeAs="String">
    <value>rbxcdn.qq.com</value>
  </setting>
  <setting name="LocalizationTablesApiPrefix" serializeAs="String">
    <value>localizationtables</value>
  </setting>
  <setting name="ItemConfigurationApiSitePrefix" serializeAs="String">
    <value>itemconfiguration</value>
  </setting>
</Roblox.Configuration.Properties.EnvironmentSettings>