<robloxConfigurationProvider isDatabaseWritable="False">
  <groups>
    <!-- Insert group configurations here (In your own application config) -->
    <!-- group serviceEndpoint="http://configuration.service.simulprod.com/" useService="True" groupName="*"/ -->
  </groups>
</robloxConfigurationProvider>