body
{
	font: normal 8pt/normal 'Comic Sans MS', Verdana, sans-serif;
	margin-top: 0;
	text-transform: none;
	text-decoration: none;
}

a
{
	text-decoration: none;
}

a:link, a:visited, a:active
{
	color: Blue;
}

a:hover
{
	text-decoration: underline;
}

/* The abbr tag is not supported in IE 6 (it is in IE 7)
   Therefore, we're using acronym instead */
abbr, acronym 
{
	cursor: help;
	border-bottom: 1px dotted #000;
}

h2
{
	letter-spacing: 1px;
}

h3
{
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 10px 0 10px 0;
}

h5
{
	font: normal 11px/normal Verdana, sans-serif;
	letter-spacing: 1px;
	padding: 5px 5px 5px 5px;
}

input.Text
{
	border-color: #777;
	border-style: dashed;
	scrollbar-base-color: Gray;
}

/* Used to put an easy-to-notice border around Admin controls */
.AdminPanel
{
	border-color: Orange;
	border-style: dotted;
	padding: 10px;
}

.Button
{
	border: solid 1px #777;
	color: #777;
	font: normal 11px/normal Verdana, sans-serif;
	padding: 3px 10px 3px 10px;
}

.Button:link, .Button:visited
{
	border: solid 1px #777;
	color: #777;
}

.Button:hover, .Button:active
{
	border: solid 1px #000;
	color: #000;
	text-decoration: none;
}

.Bullet
{
	float: left;
	margin-right: 10px;
	margin-bottom: 4px
}

.Legalese
{
	font-size: 7pt;
}

.Separator
{
}

#Container
{
	margin: 0 auto;
	width: 900px;
}

#Header
{
	border-top: solid 1px #000;
	color: White;
	font: normal 12px/normal Verdana, sans-serif;
	font-weight: bold;
	width: 900px;
    text-align: center;
}

#Header a, #Header a:visited, #Header a:active
{
	color: White;
	text-decoration: none;
}

#Header a:hover
{
	color: White;
	text-decoration: underline;
}

#Banner
{
	background-image: url(../../images/banner2.png);
	background-repeat: no-repeat;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	height: 72px;
	text-align: center;
}

#Banner #Options
{
	float: left;
	height: 72px;
	position: relative;
	width: 287px;
}

#Banner #Authentication
{
	top: 0px;
	left: 0px;
	padding: 4px;
	position: absolute;
}

#Banner #Options #Settings
{
	bottom: 0px;
	left: 0px;
	padding: 4px;
	position: absolute;
}

#Banner #Logo
{
	float: left;
	margin: 0;
	text-align: center;
	width: 293px;
}

#Banner #Alerts
{
	float: right;
	padding: 15px 0 15px 0;
	text-align: center;
	width: 287px;
}

#Banner #Alerts #MessageAlert
{
	background-color: #fff;
	border: solid 1px #000;
	color: #6e99c9;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 200px;
}

#Banner #Alerts #MessageAlert a
{
	color: #6e99c9;
}

#Banner #Alerts #MessageAlert a:hover
{
	color: #1874CD;
}

.MessageAlertIcon,
.MessageAlertCaption
{
	vertical-align: middle;
}

#Header #Navigation
{
	clear: both;
	background-color: #6e99c9;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	color: #fff;
	font-family: 'Comic Sans MS', Verdana, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	line-height: 2em;
	text-decoration: none;
}

#AdvertisingLeaderboard
{
	/*border: solid 1px #000;*/
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	width: 898px;
}

#Body
{
	margin: 10px 0 10px 0;
	width: 900px;
}

#Footer
{
	font: normal 8px/normal Verdana, sans-serif;
	margin-top: 10px;
	width: 900px;
    text-align: center;
}

#Footer .Legalese
{
	margin: 0;
}

.Button
{
	border: solid 1px #000000;
	color: #000000;
	font-family: Verdana, Sans-Serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}

.MultilineTextBox
{
	border: dashed 2px Gray;
	font-family: Verdana, Sans-Serif;
	font-size: 1.2em;
	/*height: auto !important;*/
	height: 250px;
	line-height: 1.5em;
	min-height: 250px;
	padding: 5px 5px 5px 5px;
	scrollbar-base-color: Gray;
}

.TextBox
{
	border: dashed 2px Gray;
	font-family: Verdana, Sans-Serif;
	font-size: 1.2em;
	padding: 5px 5px 5px 5px;
}

.Label
{
	font-weight: bold;
}

.BigButton
{
	background-color: #F5CD2F;
	color: #000;
	height: 2.5em;
	font-family: Comic Sans MS;
	font-size: 20px;
	font-weight: bold
}

.MediumButton
{
	background-color: #F5CD2F;
	color: #000;
	height: 2.5em;
	font-family: Comic Sans MS;
	font-size: 15px;
	font-weight: bold
}

.ErrorReporting, .ErrorReportingThanks
{
	width: 500px;
	margin: 16px auto 16px auto;
	padding: 10px;
}

.YesNoButtons
{
	text-align: right;
}

.YesButton,
.NoButton
{
	background-color: #F5CD2F;
	color: #000;
	margin-left: 10px
}

/*Popup Control*/
.popupControl
{
	background-color: #fff;
	border: 1px outset #fff;
	position: absolute;
	visibility: hidden;
}
.ColorPickerItem 
{
	border-color: #fff;
	border-style: solid;
	border-width: 2px;	
}
.ColorPickerItem:hover {
	border-color: Blue;
	border-style: solid;
	border-width: 2px;	
}

/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
}